@page
@model OPMLRender.Pages.FavoritesModel
@{
    int totalPages = (int)ViewData["TotalPages"];
    int currentPage = (int)ViewData["CurrentPage"];
}

<div class="container">
    @foreach (var item in Model.FavoriteFeeds)
    {
        <div class="row">
            <div class="col col-md-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">@item.Title</h4>
                        <div class="text-center">
                            <a href="/XMLParser?link=@item.Link" target="_blank" class="btn btn-primary">Read Page</a>
                            <form method="post" asp-page-handler="ToggleFavorite" class="d-inline">
                                <input type="hidden" name="link" value="@item.Link" />
                                <button type="submit" class="btn btn-sm @(item.IsFavorite ? "btn-favorite" : "btn-unfavorite")">
                                    <i class="fa fa-star"></i> @(item.IsFavorite ? "Unstar" : "star")
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col col-md-12">
            <nav>
                <ul class="pagination justify-content-center">
                    @for (int i = 1; i <= totalPages; i++)
                    {
                        <li class="page-item @(i == currentPage ? "active" : "")">
                            <a class="page-link" href="/Index?page=@i">@i</a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>
<style>
    .btn-favorite {
        background-color: yellow;
        color: white;
    }

    .btn-unfavorite {
        background-color: white;
        color: black;
        border: 1px solid black;
    }
</style>